<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
<h2>Términos y Condiciones del Servicio</h2>

<h3>1. Reconocimiento Y Aceptación De Los Términos De Servicio</h3>

El servicio de <strong>Personas</strong>, propiedad y operado por e[ad] Escuela de Arquitectura y Diseño PUCV ("e[ad]"), se ofrece al usuario ("Usuario") bajo los términos y condiciones de estos <strong>Términos del Servicio Personas</strong> e[ad] (TSP) y cualquier regulación o políticas que pueden ser publicados por e[ad]. AL COMPLETAR EL PROCESO DE REGISTRO, Ud. INDICA SU ACEPTACIÓN DE QUEDAR VINCULADO POR TODOS LOS TÉRMINOS Y CONDICIONES DE LA TSP.

<h3>2. Descripción Del Servicio</h3>

Personas e[ad] proporciona a los miembros el acceso a servicios web, incluyendo pero no limitado a la capacidad de publicar información en dichos servicios. Todos estos servicios serán gratuitos a menos que explícitamente se indique lo contrario y cualquier característica nueva que aumente o mejore el servicio actual, estará sujeta a estos TCS. 

<h3>3. Modificaciones a los Términos del Servicio de Personas TSP</h3>

e[ad] puede cambiar los términos y condiciones de la TSP de vez en cuando. Después de grandes cambios en los términos y condiciones de la TSP, e[ad] le notificará mediante un correo electrónico a la dirección indicada por Ud. 

<h3>4. Modificaciones Al Servicio</h3>

e[ad] se reserva el derecho de modificar o interrumpir el Servicio con o sin previo aviso a los miembros. e[ad] no será responsable ante el Usuario o cualquier tercero e[ad] debe ejercer TSP derecho de modificar o interrumpir el Servicio.

<h3>5. Política De Privacidad</h3>

Toda la información ingresada en Personas e[ad] por el usuario es privado para miembros, excepto en la medida en que él o ella opta por compartir esa información con otros miembros de Personas e[ad] y / o al público, a través de MyOpenID o no. Es política de e[ad] de respetar la privacidad de los diputados. Por lo tanto, e[ad] no revelará a terceros nombre de usuario o información de contacto. e[ad] tampoco supervisará, editar o divulgar el contenido de la información de un diputado menos que sea requerido por ley o en la creencia de buena fe que dicha acción es necesaria para: (1) conformar edictos de la ley o cumplir con jurídica proceso sirvió en e[ad]; (2) proteger y defender los derechos o la propiedad de e[ad], o (3) actuar bajo circunstancias extremas, para proteger la seguridad personal de los miembros de TSP o al público; (4) corregir o solucionar problemas con el software Personas e[ad] / servicio.

<h3>6A. Propiedad Intelectual</h3>

A menos que se indique lo contrario para servicios específicos, el miembro adscribirá sus contenidos y contribuciones a la <strong>Licencia de Creative Commons "Atribución-No Comercial-Licenciar Igual 2.0 Chile"</strong>, publicada en <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/cl/">http://creativecommons.org/licenses/by-nc-sa/2.0/cl/</a>.

<h3>6B. Responsabilidad del Contenido</h3>

El usuario reconoce y acepta que la e[ad] no aprueba ni suscribe a cualquier contenido generado por sus miembros que sea dañino, calumnioso, obsceno, de acoso o material ofensivo. Cualquier infracción de terceros de los derechos de propiedad intelectual de derivados de estos o cualquier delito facilitado por el mismo.

<h3>7. Conducta De Los Miembros</h3>

Ud. entiende que toda la información, datos, texto, software, música, sonido, fotografías, gráficos, vídeos, mensajes u otros materiales ("Contenido"), ya sea públicamente anunciado o transmitido privadamente, son responsabilidad exclusiva de la persona de la cual dicho Contenido proviene. Esto significa que Ud., y no la e[ad], es enteramente responsable por todo el Contenido que Ud. suba, publicar o transmitir a través del Servicio. e[ad] no controla el Contenido publicado a través del Servicio y, como tal, no garantiza la exactitud, integridad o calidad de dicho Contenido. Ud. entiende que al utilizar el Servicio, puede estar expuesto a Contenidos que resulten ofensivos, indecentes u objetables. e[ad] se reserva el derecho de modificar o interrumpir el Servicio con o sin previo aviso a los miembros, cuando el servicio se tiene acceso en una forma que sea incompatible con el uso previsto, fraudulento, o causa un deterioro de rendimiento a otros miembros.

Ud. se compromete a no usar el Servicio para: (a) cargar, publicar o transmitir cualquier Contenido que sea ilegal, dañino, amenazador, abusivo, acosador, agraviante, difamatorio, vulgar, obsceno, difamatorio, invasor de la privacidad, odioso, o racial, étnico o de otra manera desagradable, (b) daños menores en cualquier forma, (c) hacerse pasar por otra persona o entidad, incluyendo pero no limitado a, un funcionario e[ad], o declarar falsamente o tergiversar su afiliación con una persona o entidad, (d) cargar, publicar o transmitir cualquier Contenido que Ud. no tiene derecho a transmitir por ley (como información interna, de propiedad y confidencial adquirida o entregada como parte de las relaciones de empleo o bajo contratos de confidencialidad); (e) recopilar o almacenar datos personales sobre otros usuarios; (f) promover o facilitar información acerca de actividades ilegales, fomentará daños físicos o lesiones contra ningún grupo o individuo, o promover cualquier acto de crueldad hacia los animales.

<h3>8. Contenido Enviado a Personas e[ad]</h3>

e[ad] no reclama la propiedad del Contenido que Ud. coloque en cualquiera de los sitios y/o servicios web provistos por e[ad] y también puede citar o reproducir una pequeña parte de su contenido (si lo hace público) a fin de promover a e[ad] y/o alguno de sus servicios, pero sólo en un uso justo. Ud. reconoce que e[ad] no pre-selecciona el Contenido, pero que e[ad] y sus designados tienen el derecho (pero no la obligación) en su única discreción para rechazar o suprimir cualquier Contenido que esté disponible a través del Servicio. Sin limitar lo anterior, e[ad] y sus designados tienen el derecho a eliminar cualquier contenido que viole alguna de las presentes cláusulas o sea de dudosa reputación. Ud. acuerda que debe evaluar y asumir todos los riesgos asociados con el uso de cualquier Contenido, incluyendo su confianza en la exactitud, integridad o utilidad de dicho Contenido.

<h3>9. Servicios De Terceros</h3>

e[ad] utiliza socios tecnológicos para proporcionar ciertas características. Mediante el uso de las características que Ud. acepta los términos de los servicios prestados por dichos terceros proveedores.

<h3>10. Indemnización</h3>

Ud. acepta indemnizar y mantener e[ad], y sus subsidiarias, afiliados, directivos, agentes, copropietarios de marcas u otros socios y empleados, de cualquier reclamo o demanda, incluyendo los honorarios razonables de abogados, realizados por cualquier tercero debido ao de su contenido, su uso del Servicio, su conexión al Servicio, su violación de las CDS, o su violación de los derechos de otros.

<h3>12. Cuenta De Miembro, Contraseña Y Seguridad</h3>

Una vez que Ud. se convierte en un miembro del Servicio, recibirá una contraseña y una cuenta. Ud. es completamente responsable de mantener la confidencialidad de su contraseña y su cuenta. Por otra parte, Ud. es completamente responsable por cualquier y todas las actividades que ocurran bajo su cuenta. Ud. puede cambiar su contraseña en cualquier momento y también puede crear una cuenta nueva y cerrar una antigua según su conveniencia. El usuario se compromete a notificar inmediatamente a e[ad] de cualquier uso no autorizado de su cuenta o de cualquier otra violación de seguridad tenga conocimiento.

<h3>13. Terminación</h3>

Ud. acepta que e[ad], a su discreción, puede cancelar su contraseña y accesos a los servicios e[ad], remover y descartar cualquier Contenido dentro del Servicio, por cualquier razón, incluyendo, sin limitación, por la falta de uso o si e[ad] cree que Ud. ha violado o actuado en forma incompatible con el espíritu de los TDS. La e[ad] también podrá a su discreción y en cualquier momento, interrumpir el Servicio, o parte de él, con o sin previo aviso. Ud. acepta que cualquier terminación de su acceso al Servicio puede ser efectuada sin notificación previa, y reconoce y acepta que e[ad] puede inmediatamente desactivar o eliminar su cuenta de Personas e[ad] y toda la información y archivos relacionados. Además, Ud. acepta que e[ad] no será responsable ante Ud. o cualquier tercero por cualquier terminación de su acceso al Servicio.

<h3>14. e[ad] Derechos De Propiedad</h3>

Ud. reconoce y acepta que el Servicio y cualquier software necesario usado en conexión con el Servicio ("Software") contiene información privada y confidencial que está protegida por la propiedad intelectual aplicable y otras leyes.

<h3>15. Renuncia De Garantías</h3>

SUS MIEMBROS EXPRESAMENTE ACEPTAN QUE EL USO DEL SERVICIO ES BAJO SU PROPIA RESPONSABILIDAD. EL SERVICIO SE SUMINISTRA "COMO ESTÁ" Y "SEGÚN ESTÉ DISPONIBLE".

e[ad] EXPRESAMENTE NIEGA TODAS LAS GARANTÍAS DE NINGÚN TIPO, YA SEA EXPRESA O IMPLÍCITA, INCLUYENDO, PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN.

e[ad] NO GARANTIZA QUE EL SERVICIO CUMPLIRÁ CON SUS REQUERIMIENTOS O QUE EL SERVICIO SERÁ ININTERRUMPIDO, OPORTUNO, SEGURO O LIBRE DE ERRORES; TAMPOCO HACE NINGUNA GARANTÍA EN CUANTO A LOS RESULTADOS QUE PUEDAN SER OBTENIDOS DEL USO DE ESTE SERVICIO O LA PRECISIÓN O CONFIABILIDAD DE CUALQUIER INFORMACIÓN OBTENIDA A TRAVÉS DEL SERVICIO O QUE LOS DEFECTOS EN EL SOFTWARE SERÁ CORREGIDO.

EL USUARIO COMPRENDE Y ACUERDA QUE CUALQUIER MATERIAL Y/O DATOS DESCARGADOS O DE OTRO MODO OBTENIDOS A TRAVÉS DEL USO DEL SERVICIO ES HECHO EN MIEMBROS DE CRITERIO PROPIO Y RIESGO Y QUE SERÁ EL ÚNICO RESPONSABLE POR CUALQUIER DAÑO A MIEMBROS DEL SISTEMA INFORMÁTICO O PÉRDIDA DE DATOS QUE RESULTE DE LA DESCARGA DE DICHO MATERIAL Y / O DATOS. e[ad] NO OTORGA GARANTÍA ALGUNA SOBRE PRODUCTOS O SERVICIOS COMPRADOS U OBTENIDOS A TRAVÉS DEL SERVICIO O DE CUALQUIER TRANSACCIÓN REALIZADA A TRAVÉS DEL SERVICIO.

NINGÚN CONSEJO O INFORMACIÓN, YA SEA ORAL O ESCRITO, OBTENIDO POR MIEMBROS A TRAVÉS DEL SERVICIO CREARÁ NINGÚN TIPO DE GARANTÍA NO EXPRESAMENTE EN EL PRESENTE DOCUMENTO.

ALGUNAS JURISDICCIONES NO PERMITEN LA EXCLUSIÓN DE CIERTAS GARANTÍAS, POR LO QUE ALGUNAS DE LAS EXCLUSIONES ANTERIORES NO SEAN APLICABLES A Ud.

<h3>16. Limitación De Responsabilidad</h3>

e[ad] NO SERÁN RESPONSABLES POR DAÑOS DIRECTOS, INDIRECTOS, INCIDENTALES, ESPECIALES O CONSECUENTES, RESULTANTES DEL USO O IMPOSIBILIDAD DE USO DEL SERVICIO O DEL COSTE DE LA OBTENCIÓN DE BIENES Y SERVICIOS SUSTITUTOS O RESULTANTES DE CUALQUIER BIEN O SERVICIO DE COMPRA U OBTENIDOS O MENSAJES RECIBIDOS O TRANSACCIONES REALIZADAS A TRAVÉS DEL SERVICIO O DERIVADOS DEL ACCESO NO AUTORIZADO O LA ALTERACIÓN DE SUS TRANSMISIONES O MIEMBRO DE DATOS, INCLUYENDO PERO NO LIMITADO A DAÑOS POR PÉRDIDA DE BENEFICIOS, USO, DATOS U OTROS INTANGIBLES, INCLUSO SI SE HA ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS.

ALGUNAS JURISDICCIONES NO PERMITEN LA EXCLUSIÓN O LIMITACIÓN DE RESPONSABILIDAD POR DAÑOS INCIDENTALES O CONSECUENTES QUE ALGUNAS DE LAS LIMITACIONES ANTERIORES NO SE APLIQUEN A Ud..

<h3>17. Almacenamiento Y Otras Limitaciones</h3>

e[ad] no asume ninguna responsabilidad por el borrado o falla al guardar información introducida en Personas e[ad]. La e[ad] se reserva el derecho, a discreción, para determinar si la conducta del Usuario es coherente con estos TSP y podría suspender el servicio si la conducta del Usuario es declarada incompatible con el sistema comercial multilateral.

<h3>18. Aviso</h3>

Todas las notificaciones a una parte deberá ser por escrito y se harán ya sea a través de correo electrónico o convencional. e[ad] puede trasmitir anuncios o mensajes a través del Servicio para informar al Usuario de cambios en el sistema comercial multilateral, el servicio, los productos adicionales o funciones, u otros asuntos de importancia, esas emisiones servirá de notificación a los miembros.


<h3>19. Información General</h3>

El TSP constituyen el acuerdo completo entre Ud. y e[ad] y rigen el uso del Servicio, sustituyendo cualquier acuerdo anterior entre Ud. y e[ad] o Personas (incluyendo pero no limitado a, cualquier versión previa de la TSP). Ud. también puede estar sujeto a términos y condiciones adicionales que resulten aplicables cuando utilice los servicios de afiliados o e[ad] otros, contenido de terceros o bien software de terceros. El sistema comercial multilateral y la relación entre Ud. y e[ad] se regirá por las leyes del Estado Chile, sin consideración a su conflicto de disposiciones legales. El fracaso de e[ad] de ejercer o hacer valer cualquier derecho o disposición del sistema multilateral de no constituirá una renuncia a tal derecho o disposición. Si cualquier disposición de la EMP es considerada por un tribunal de jurisdicción competente como no válida, las partes acuerdan que dicho tribunal debe procurar interpretar las intenciones de las partes tal y como se refleja en la disposición, y las demás disposiciones del sistema multilateral de permanecer en pleno vigor y efecto. Ud. acepta que independientemente de cualquier estatuto o ley que disponga lo contrario, cualquier reclamación o causa de acción que surja de o relacionada al uso del Servicio o el sistema comercial multilateral debe ser presentada dentro de un (1) año después que dicho reclamo o causa de acción o prescribirá para siempre. Los títulos de sección en el sistema comercial multilateral son sólo por comodidad y no tienen ningún efecto legal o contractual.

<h3>20. Violaciones</h3>

Favor de reportar cualquier violación de la TSP a través de la página de soporte Personas e[ad].


<blockquote><strong>.:TIG:.</strong><br />Taller de Investigaciones Gráficas<br><a href="http://www.ead.pucv.cl/">e[ad] Escuela de Arquitectura y Diseño</a><br />
Pontificia Universidad Católica de Valparaíso<br /><small>+56 32 2274417</small></blockquote>
	<% end %>
