<% content_for :sidebar do %>

<% end %>


<% content_for :content do %>
<div class="row">
	<div class="span8 offset2">
		<h2>Creador de Lista de Correos e[ad]</h2>
		<% if @loged.admin == "si" %>
			<form id="listaCorreo" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="input01">Tipo</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" value="a" name="tipo[]">Alumno
						</label>
						<label class="checkbox">
							<input type="checkbox" value="e" name="tipo[]">Ex-Alumno
						</label>
					</div>
				</div>			
				
				<div class="control-group">
					<label class="control-label" for="input01">Carrera</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" name="carrera[]" value="Arquitectura" >Arquitectura
						</label>					
						<label class="checkbox">
							<input type="checkbox" name="carrera[]" value="Dise침o">Dise침o			
						</label>
					</div>
				</div>			
				
				<div class="control-group">
					<label class="control-label" for="input01">A침o Ingreso <br> Desde</label>
					<div class="controls">
						<br /><%= select_year(1972, :start_year => 1972, :end_year => Time.now.year, :field_name => "anodesde") %>
					</div>
				</div>			
				<div class="control-group">
					<label class="control-label" for="input01">Hasta</label>
					<div class="controls">
						<%= select_year(Time.now.year, :start_year => 1973, :end_year => Time.now.year, :field_name => "anohasta") %>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label" for="input01">Tipo de lista</label>
					<div class="controls">
						<label class="radio">
							<input type="radio" name="tipolista" value="correo">Lista de Correo
						</label>
						<label class="radio">
							<input type="radio" name="tipolista" value="sm">SurveyMonkey
						</label>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input id="btn_make_list" type="button" value="Consultar" class="btn btn-primary">
					</div>
				</div>
			</form>
		<% else %>
			<p>
				<%= image_tag 'exclamation.png'%>  <strong> Ups...!! </strong> Est치s tratando de hacer algo no permitido
			</p>
		<% end %>
		<br />
		<div id="lc"></div>
	</div>
</div>
<% end %>
