					<form id="formsearch" action="">
						<div class="col-md-10">
							<div class="grupo-inputs">
								<div id="btnsearch" class="input" style="cursor:pointer;"><i class="icn icn-light icn-lupa"></i></div>
								<input id="user_search" name="user_search" type="text" class="control" placeholder="Buscar por nombre o correo electrónico" value="<%= (params[:user_search]) ? params[:user_search] : '' %>"> 
							</div>
						</div>
						<div class="col-md-2">
							<a href="<%= url_for( :controller => :users, :action => :new ) %>"><button type="button" class="btn btn-accion btn-lg btn-bloque sin-margen">Nuevo <i class='icn icn-usuariomas'></i></button></a>
						</div>
					</form>