<div class="tab-pane fade active in" id="filtrar">
	<form id="csvdownload" action="/advanced_exporter" method="POST">
		<h5 class="sans rojo">Archivo CSV</h5>
		<div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="type">Columnas</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="checkbox bloque">
					<label for="rut" >
						<input type="checkbox" id="rut" name="rut"> Rut
					</label>
				</div>
				<div class="checkbox bloque">
					<label for="nombre" >
						<input type="checkbox" id="nombre" name="nombre"> Nombre
					</label>
				</div>
				<div class="checkbox bloque">
					<label for="email" >
						<input type="checkbox" id="email" name="email"> Email
					</label>
				</div>
				<div class="checkbox bloque">
					<label for="telefono" >
						<input type="checkbox" id="telefono" name="telefono"> Teléfono
					</label>
				</div>
				<div class="checkbox bloque">
					<label for="ciudad" >
						<input type="checkbox" id="ciudad" name="ciudad"> Ciudad
					</label>
				</div>
				<div class="checkbox bloque">
					<label for="anoingreso" >
						<input type="checkbox" id="anoingreso" name="anoingreso"> Año ingreso
					</label>
				</div>
				<div class="checkbox bloque">
					<label for="wiki" >
						<input type="checkbox" id="wiki" name="wiki"> Wiki
					</label>
				</div>
			</div>
		</div>
		<!-- <div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="course">Carrera</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="checkbox bloque">
					<label>
						<input type="checkbox" id="arquitectura" name="arquitectura" checked="checked"> Arquitectura
					</label>
				</div>
				<div class="checkbox bloque">
					<label>
						<input type="checkbox" id="diseño" name="diseño"> Diseño
					</label>
				</div>
			</div>
		</div> -->
		<div class="fila">
			<div class="col-md-4 col-md-offset-8">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<button id="csvdownloadbtn" type="button" class="btn btn-accion btn-md btn-bloque btn-consultar">Descargar</button>
			</div>
		</div>
	</form>
</div>

<br/><br/>

<div class="tab-pane fade active in" id="filtrar">
	<form id="emaillist">
		<h5 class="sans rojo">Lista de Correos</h5>
		<div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="type">Tipo</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="checkbox bloque">
					<label>
						<input type="checkbox"> Alumno
					</label>
				</div>
				<div class="checkbox bloque">
					<label>
						<input type="checkbox"> Ex-Alumno
					</label>
				</div>
			</div>
		</div>
		<div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="course">Carrera</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="checkbox bloque">
					<label>
						<input type="checkbox"> Arquitectura
					</label>
				</div>
				<div class="checkbox bloque">
					<label>
						<input type="checkbox"> Diseño
					</label>
				</div>
			</div>
		</div>
		<div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="course">Año ingreso desde</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="grupo-inputs">
					<div class="input"><i class="icn icn-md icn-ingresar"></i></div>
					<input class="control" id="startdate" name="startdate" min="1972-01-01" max="2016-01-01" type="date">
				</div>
			</div>
		</div>
		<div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="course">Hasta</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="grupo-inputs">
					<div class="input"><i class="icn icn-md icn-salir"></i></div>
					<input class="control" id="enddate" name="enddate" min="1973-01-01" max="2016-01-01" type="date">
				</div>
			</div>
		</div>
		<!-- <div class="fila flexbox">
			<div class="col-md-4 container-flex">
				<label class="derecha flex-centrar" for="liststyle">Tipo de lista</label>
			</div>
			<div class="col-md-8 container-flex">
				<div class="checkbox">
					<label>
						<input type="radio" name="listtype"> Lista de correo
						<input type="radio" name="listtype"> Surveymonkey
					</label>
				</div>
			</div>
		</div> -->
		<div class="fila">
			<div class="col-md-8 col-md-offset-4">
				<button type="button" class="btn btn-accion btn-md btn-bloque btn-consultar">Consultar</button>
			</div>
		</div>
		<!-- Resultados -->
		<div class="fila bloque-resultado">
			<!-- <div class="col-md-12">
				<div class="margen-inf-sm">
					<div class="alerta alerta-accion alert-dismissible fade in" role="alert">
						<span><b>106</b> usuarios encontrados:</span>
					</div>
				</div>
			</div> -->
			<div class="col-md-12">
				<textarea name="data" id="data" rows="5" readonly="" onclick="this.focus();this.select()"></textarea>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function(){
		var csrf_token = $('meta[name="csrf-token"]').attr('content');
		$('#csvdownloadbtn').click(function(event){
			$('#csvdownload').submit();
			// event.preventDefault();
			// data = $('#csvdownload').serializeArray();
			// data[data.length] = { name: "authenticity_token", value: csrf_token };
			// $.ajax({
			// 	method: "POST",
			// 	url: "/advanced_exporter",
			// 	data: data,
			// 	dataType: "csv",
			// 	success: function(data){
			// 		// window.location.href = "..."
			// 		console.log(data);
			// 	}
			// });
		});
	});
</script>