				<ul class="nav nav-tabs" role="tablist" id="tabla-contenido">
					<li class="active"><a id='subiendo-1' href="#buscar-usuarios" role="tab" data-toggle="tab"><h5 class="rojo sin-margen">Directorio de Usuarios e[ad]</h5></a></li>
				</ul>