<section class="modulo">
	<div class="contenedor-modulo">
		<div class="tab-content margen-sup">
			<div class="tab-pane fade in active">
				<form action="">
					<div class="fila">
							<div class="col-md-12">
								<div class="grupo-inputs">
									<label for="rut">Rut</label><input type="checkbox" name="rut">
									<label for="nombre">Nombe</label><input type="checkbox" name="nombre">
									<label for="apellido">Apellido</label><input type="checkbox" name="apellido">
									<label for="email">Email</label><input type="checkbox" name="email">
									<label for="telefono_movil">Telefono</label><input type="checkbox" name="telefono_movil">
									<label for="ciudad">Ciudad</label><input type="checkbox" name="ciudad">
									<label for="anoingreso">Año ingreso</label><input type="checkbox" name="anoingreso">
									<label for="wiki">Wiki</label><input type="checkbox" name="wiki">
									<a href="registro.html"><button type="button" class="btn btn-accion btn-lg btn-bloque sin-margen">Descargar</button></a>
								</div>
							</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
