<section class="modulo">
	<div class="contenedor-modulo">
		<div class="tab-content margen-sup">
			<div class="tab-pane fade in active">
				<form action="">
					<div class="fila">
						<div class="col-md-8">
							<span class="checkbox-span">
								<input type="checkbox" name="rut"> <span class="xs">Rut</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="nombre"> <span class="xs">Nombre</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="apellido"> <span class="xs">Apellido</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="email"> <span class="xs">Email</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="telefono_movil"> <span class="xs">Telefono</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="ciudad"> <span class="xs">Ciudad</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="anoingreso"> <span class="xs">Año ingreso</span>
							</span>
							<span class="checkbox-span">
								<input type="checkbox" name="wiki"> <span class="xs">Wiki</span>
							</span>
						</div>
						<div class="col-md-4">
							<a href="registro.html"><button type="button" class="btn btn-accion btn-lg btn-bloque sin-margen">Descargar</button></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
