					<ul class="nav nav-tabs" role="tablist" id="tabla-contenido">
						<li class="active"><a id='subiendo-1' href="#buscar-usuarios" role="tab" data-toggle="tab"><h5 class="rojo sin-margen">Directorio de Usuarios e[ad]</h5></a></li>
						<li><a id='subiendo-2' href="#bloqueados" role="tab" data-toggle="tab"><h5 class="rojo sin-margen">Usuarios bloqueados</h5></a></li>
						<li><a id='subiendo-3' href="#filtrar" role="tab" data-toggle="tab"><h5 class="rojo sin-margen">Filtrar</h5></a></li>
					</ul>