<section class="modulo">
	<div class="modulo-cuerpo">
		<div class="margen-inf-sm">
			<div class="contenedor-modulo">
				<i class="icn icn-engranaje rojo margen-der-sm nav-icn"></i> 
				<ul class="nav nav-tabs" role="tablist" id="tabla-contenido">
					<li class="active"><a id='subiendo-1' href="#buscar-usuarios" role="tab" data-toggle="tab"><h5 class="rojo sin-margen">Directorio de Usuarios e[ad]</h5></a></li>
				</ul>
			</div>
		</div>
		<div class="contenedor-modulo">
			<div class="tab-content margen-sup">
				<div class="fila">
					<form action="">
						<div class="col-md-12">
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-light icn-lupa"></i></div>
								<input type="text" class="control" placeholder="Buscar por nombre o correo electrónico"> 
							</div>

						</div>
					</form>
				</div>
				<div class="fila">
					<table class="tabla-personas">
						<thead>
							<tr>
								<th>Usuario</th><th>Nombre</th><th>Apellido</th><th>Tipo</th><th>Contactar</th>		
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">hspencer</a></td><td>Herbert</td><td>Spencer</td><td>Profesor</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td><a href="#">aalfarop</a></td><td>Arlett Sarhay</td><td>Alfaro Pacheco</td><td>Alumno</td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<nav>
						<ul class="paginacion">
							<li class="disabled">
								<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
							</li>
							<li class="activo"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Siguiente">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>