<section class="modulo">
	<div class="modulo-cuerpo">
		<div class="contenedor-modulo">
			<div class="tab-content margen-sup">
				<form>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h3 class="fino sans rojo"><i class="icn icn-lapiz nav-icn"></i> Editar tu cuenta</h3>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h5 class="fino sans pizarra">Tus datos personales</h5>
						<hr>
						<div class="margen-inf-sm">
							<label for="username">Nombre de usuario</label>
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-md icn-usuario"></i></div>
								<input type="text" class="control" id="username" value="juanitoperez_original" />		
							</div>
						</div>
						<div class="margen-inf-sm">
							<label for="name">Nombre y apellidos</label>
							<div class="grupo-inputs">		
								<div class="input"><i class="icn icn-md icn-perfil"></i></div>
								<input type="text" class="control" id="name" value="Juan Pérez" />	
							</div>
						</div>
						<div class="margen-inf-sm">
							<label for="rut">Rut</label>
							<div class="grupo-inputs">		
								<div class="input"><i class="icn icn-md icn-acto"></i></div>
								<input type="text" class="control" id="rut" value="17.472.473-3" />	
							</div>
						</div>
						<div class="margen-inf-sm">
							<label for="usertype">Relación con la e[ad]</label>
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-md icn-caronabajo "></i></div>
								<select name="usertype">
									<option></option>
									<option selected>Alumno(a)</option>
									<option>Profesor(a)</option>
									<option>Ex-alumno(a)</option>
									<option>Amigo(a)</option>
									<option>Otro(a)</option>
								</select>
							</div>	
						</div>
						<div class="margen-inf-sm">
							<label for="course">Carrera</label>
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-md icn-caronabajo "></i></div>
								<select name="course">
									<option></option>
									<option selected>Arquitectura</option>
									<option>Diseño</option>
									<option>Diseño Gráfico</option>
									<option>Diseño Industrial</option>
									<option>Magister en Arquitectura y Diseño</option>
								</select>
							</div>	
						</div>
						<div class="margen-inf-sm">
							<label for="year">Año ingreso a la e[ad]</label>
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-md icn-ingresar"></i></div>
								<input type="text" class="control" id="year" value="2014" />	
							</div>
						</div>
						<div class="margen-inf-sm">
							<label for="telephone">Teléfono</label>
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-md icn-movil"></i></div>
								<input type="tel" class="control" id="telephone" value="59585558" />	
							</div>
						</div>
						<div class="margen-inf-sm">
							<label for="adress">Dirección</label>
							<div class="grupo-inputs">
								<div class="input"><i class="icn icn-md icn-mapa"></i></div>
								<input type="text" class="control" id="adress" value="Av alemania 273, Valparaíso" />	
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h5 class="fino sans pizarra">Contacto y seguridad</h5>
						<hr>
						<div class="margen-inf-sm">
							<label for="lastname">Vinculación con redes sociales</label>
							<div class="bloque">
								<button type="button" class="btn btn-facebook btn-conectado btn-bloque">Conectado con Facebook</button>
								<button type="button" class="btn btn-google btn-conectado btn-bloque">Conectado con Google</button>
							</div>
						</div>
						<div class="margen-inf-sm">
							<label for="email">Correo</label>
							<div class="grupo-inputs">
								<p>juan_perez@hotmail.com</p>
							</div>
						</div>
						<div class="margen-inf-xs">
							<button type="button" class="btn btn-bloque btn-md btn-change-email">Cambiar email</button>	
						</div>
						<div class="change-email">
							<div class="margen-inf-sm">
								<label for="email">Ingrese su contraseña</label>
								<div class="grupo-inputs">
									<div class="input"><i class="icn icn-md icn-cerrado"></i></div>
									<input type="email" class="control" id="password"/>		
								</div>	
							</div>
							<div class="margen-inf-sm">
								<label for="new-email">Nuevo email</label>
								<div class="grupo-inputs">
									<div class="input"><i class="icn icn-md icn-email"></i></div>
									<input type="email" class="control" id="new-email"/>		
								</div>	
							</div>
							<button type="button" class="btn btn-bloque btn-alerta btn-md btn-dont-change-email">Cancelar</button>	
						</div>
						<div class="margen-inf-xs">
							<button type="button" class="btn btn-bloque btn-md btn-change-password">Cambiar contraseña</button>	
						</div>
						<div class="change-password">
							<div class="margen-inf-sm">
								<label for="password">Ingrese su contraseña actual</label>
								<div class="grupo-inputs">
									<div class="input"><i class="icn icn-md icn-cerrado"></i></div>
									<input type="password" class="control" id="password"/>		
								</div>	
							</div>
							<div class="margen-inf-sm">
								<label for="password">Nueva contraseña</label>
								<div class="grupo-inputs">
									<div class="input"><i class="icn icn-md icn-abierto"></i></div>
									<input type="password" class="control" id="password"/>		
								</div>	
							</div>
							<div class="margen-inf-sm">
								<label for="password_confirm">Confirmar nueva contraseña</label>
								<div class="grupo-inputs">
									<div class="input"><i class="icn icn-md icn-abierto"></i></div>
									<input type="password" class="control" id="password_confirm" />	
								</div>
							</div>
							<button type="button" class="btn btn-bloque btn-alerta btn-md btn-dont-change-pass">Cancelar</button>	
						</div>
						<div class="margen-inf-sm">
							<div class="g-recaptcha" data-sitekey="6Ld9OBMTAAAAAIawZF7PkJeGGvGAr0VLzCFKoHi0"></div>
						</div>
						<div class="margen-inf-sm">
							<button type="button" class="btn btn-accion btn-lg btn-bloque">Actualizar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>