<section class="modulo">
	<div class="modulo-cuerpo">
		<div class="contenedor-modulo">
			<div class="tab-content margen-sup">
				<form>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h3 class="fino sans rojo"><i class="icn icn-perfil nav-icn"></i> Mi Perfil público</h3>
						<h6 class="xs">Datos obtenidos de Wiki Casiopea: <a href="http://wiki.ead.pucv.cl/index.php/Herbert_Spencer">http://wiki.ead.pucv.cl/index.php/Herbert_Spencer</a></h6>
						<hr>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="margen-inf-sm">
							<div class="bloque-perfil">
								<div class="cabecera">
									<img src="http://wiki.ead.pucv.cl/images/0/0a/Herbert-spencer.jpg" alt="">
								</div>
								<h3>Juan Pérez</h3>
								<h6>Biografía de Juan pérez</h6>
								<p>Sitio web: <a href="#">Sitiowebdejuanperez.com</a></p>
								<span class="xs">Perfil Público Wiki Casiopea: <br><a href="http://wiki.ead.pucv.cl/index.php/Herbert_Spencer">http://wiki.ead.pucv.cl/index.php/Herbert_Spencer</a></span>
							</div>

						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="margen-inf-sm">
							<label for="name">Grado académico</label>
							<p>Magíster</p>
						</div>
						<div class="margen-inf-sm">
							<label for="year">Fecha de nacimiento</label>
							<p class="no-data">Sin datos, por favor edite su perfil</p>
						</div>
						<div class="margen-inf-sm">
							<label for="year">Ingreso</label>
							<p>1992</p>
						</div>
						<div class="margen-inf-sm">
							<label for="lastname">Ciudad y país</label>
							<p class="no-data">Sin datos, por favor edite su perfil</p>
						</div>
						<div class="margen-inf-sm">
							<label for="lastname">Relación con la e[ad]</label>
							<p>Exalumno, Profesor Jerarquizado (Adjunto)</p>
						</div>
						<div class="margen-inf-sm">
							<label for="lastname">Carrera</label>
							<p>	Diseño Gráfico, Ciudad y Territorio, Diseño</p>
						</div>
						<div class="margen-inf-sm">
							<a href="ttp://wiki.ead.pucv.cl/index.php/Herbert_Spencer&action=edit" class="btn btn-accion btn-lg btn-bloque">Editar en Wiki Casiopea</a>
							<a class="xs centrado sin-margen bloque" href="http://wiki.ead.pucv.cl/index.php/Herbert_Spencer">ir a Perfil Wiki Casiopea</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>