<% content_for :sidebar do %>

<% end %>

<% content_for :content do %>
	<h2>De los Nombres y las Entradas</h2>
	<p>La generación de múltiples servicios web nos ha exigido la unificación de los usuarios bajo una única identidad, de manera que cada persona pueda acceder a las diferentes instancias con que trabajamos en Internet:<br /><a href="http://www.ead.pucv.cl">Sitio Web e[ad]</a> - <a href="http://wiki.ead.pucv.cl">Wiki Casiopea</a> - <a href="http://amereida.ead.pucv.cl">Ciudad Abierta</a> - <a href="http://travesias.ead.pucv.cl">Travesías de Amereida</a>, entre otros; así como las aplicaciones que desarrollemos en el futuro.</p>

	<p>Por una sola vez cada persona ingresa su Nombre de Usuario  y una Clave Personal (password). Se trata de acceder a través de la figura de un modelo que permite el diálogo entre las distintas personas (autores) y nuestros lectores que participan de aquel cometido de la completitud o de una información fidedigna que nos presenta a los demás desde una fuente única.</p>

	<p>Ahora, es sólo un nombre y una clave, de manera de reconocer como individuos a las personas que constituyen este pueblo; se trata de un ecosistema —o sistema de sistemas— de todos nuestros servicios en línea. Así, también, avanzamos en la hospitalidad, conociendo y articulando a las personas y su trabajo en nuestras redes digitales.</p>

	<blockquote>
		<strong>.:TIG:.</strong><br />
		Taller de Investigaciones Gráficas<br>
		<a href="http://www.ead.pucv.cl/">e[ad] Escuela de Arquitectura y Diseño</a><br />
		Pontificia Universidad Católica de Valparaíso<br /><small>+56 32 2274417</small>
	</blockquote>
<% end %>
